<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Know Your Movie</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/6ef792e0df.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div class="top">
  <h1 class="main-heading"> Know Your Movie</h1>
</div>
