<%- include('partials/header') %>


  <div class="centerdiv">
    <i class="fa fa-imdb fa-5x IMDB" aria-hidden="true"></i>
  </div>
  <div class="container">
    <a class="btn btn-light btn-lg buttons" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg buttons" href="/login" role="button">Login</a>
  </div>


<%- include('partials/footer') %>






<!-- app.post("/",function(req,res){

  var crypto=req.body.crypto;
  var fiat=req.body.fiat;
  var finalurl="https://apiv2.bitcoinaverage.com/indices/global/ticker/"+crypto+fiat;

  request(finalurl,function(error,response,body){
    var data=JSON.parse(body);
    var price=data.averages.week;
    var currentdate=data.display_timestamp;
    res.write("current date is "+currentdate);
    res.write("<h1>current average price of "+crypto+" is"+ price+" in fiat </h1>");
    res.send();
  });
}); -->
